[user]
	email = mac.spychala@gmail.com
	name = maciejspychala
[merge]
	tool = vimdiff
[core]
	excludesfile = ~/.gitignr
[push]
	default = current
[difftool]
	prompt = false
[alias]
	l = log -n 6 --oneline
[mergetool]
	keepBackup = false
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	verbose = true
